.c-footer{
    background-color: $COLOR_1;
    padding-top: 40px;
    padding-bottom: 40px;
    h1{
        color: #FFF;
        font-family: 'Unbounded-Light';  
        font-size: 2.2rem;
        span{
            color: $COLOR_2;
            font-family: 'Unbounded-SemiBold';  
        }
    }
}

.c-prefooter{
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url('../img/prefooter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .block1{
        padding: 40px;
        background-color: $COLOR_2;
        h3{
            font-family: 'Unbounded-SemiBold';  
            color: $COLOR_1;
            font-size: 1.2rem;
        }
        .btn{
            background-color: $COLOR_1;
            color: #FFF;
            font-family: 'Unbounded-Light';  
            border-radius: 0px;
        }
    }
}
.c-footer-2{
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
    p{
        margin-bottom: 0px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}