

@font-face {
    font-family: 'Unbounded-Light';  
    src: url(../fonts/Unbounded-Light.ttf);
}

@font-face {
    font-family: 'Unbounded-SemiBold';  
    src: url(../fonts/Unbounded-SemiBold.ttf);
}