
.c-nosotros{
    background-color: #FFF;
    .txt{
        .block1{
            padding-top: 150px;
            padding-bottom: 50px;
            .logo{
                max-width: 100px;
                margin-bottom: 40px;
            }
        }
    }
    .items{
        padding-top: 50px;
        padding-bottom: 50px;
        .item{
            padding-left: 20px;
            padding-right: 20px;
            .d-block{
                background-color: $COLOR_2;
                padding: 30px;
                text-align: center;
                min-height: 260px;
                .icon{
                    max-height: 57px;
                    margin-bottom: 20px;
                }
                h3{
                    color: $COLOR_1;
                    font-family: 'Unbounded-SemiBold';  
                    font-size: 1.2rem;
                }
                p{
                }
                .btn{
                    background-color: $COLOR_1;
                    color: #FFF;
                    font-family: 'Unbounded-Light';  
                    border-radius: 0;
                    font-size: .9rem;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .c-nosotros{
        .txt{
            .block1{
                padding-top: 40px;
            }
        }
        .items{
            .slick-arrow 
            {
                &::before{
                    color: $COLOR_1;
                }
            }
            .slick-next{
                right: 5px;
                z-index: 1;
            }
            .slick-prev{
                left: 5px;
                z-index: 1;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}